.contact-section {
  background-color: #ffe6f0;
}

.btn-pink {
  background-color: #ff66b2;
  color: white;
  border: none;
}

.btn-pink:hover {
  background-color: #ff3385;
  color: white;
}

.text-pink {
  color: #d63384;
}
.footer-pink {
  background-color: #ffe6f0; /* Soft pink background */
}

.footer-pink a:hover {
  color: #ff3399;
  text-decoration: underline;
}